.navbar {
  box-sizing: border-box;
  width: 600px;
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  background-color: #66b2b2;
  width: 90%;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 15px;
}
.linkLi {
  padding: 0 10px;
  list-style: none;
}
.linkBtn {
  background-color: #66b2b2;
  color: black;
  padding: 5px 10px;
  border-style: none;
  font-size: 16px;
  transition-duration: 0.5s;
  /* display: inline; */
  text-decoration: none;
}

.linkBtn:hover {
  background-color: #008080;
  color: white;
  font-size: 16.5px;
  cursor: pointer;
}
